# Ignore all node_modules directories
**/node_modules/

# Ignore environment variable files
*.env

# Other common ignores
.DS_Store
dist/
build/
coverage/

# Ignore specific scripts
removeOldPosts.js
uploadAwsInfo.js